#!upstart

description "start pilight daemon"

start on net-device-up IFACE=lo
stop on runlevel [06]

pre-start script
	pilight-daemon
end script

post-stop script
    while pgrep pilight-daemon; do
	    pkill pilight-daemon || :
    done;
end script
