#By Philipp Schmitt (philipp<at>schmitt<dot>co)

[Unit]
Description=pilight daemon

[Service]
ExecStart=/usr/bin/pilight-daemon
Type=forking

[Install]
WantedBy=multi-user.target